# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

/env

# private stuff
*.pem

# idea stuff
/.idea/*

#
config.py
app.db


ansible/host_vars/
ansible.cfg
hosts
/ansible/roles/*/vars/main.yml
