<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="apple-touch-icon" href="/static/home-ico.png">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>{{ config['SITE_NAME'] }}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });


    </script>

</head>
<body>
<nav class="navbar navbar-inverse navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"
                                                                        aria-hidden="true"></span> {{
                config['SITE_NAME'] }}</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('get_toggles') }}"><span class="glyphicon glyphicon-adjust"
                                                                 aria-hidden="true"></span> Toggles</a></li>
                <li><a href="{{ url_for('get_shadow') }}"><span class="glyphicon glyphicon-stats"
                                                                aria-hidden="true"></span> Metrics</a></li>
                <li><a href="{{ url_for('get_snapshots') }}"><span class="glyphicon glyphicon-camera"
                                                                   aria-hidden="true"></span> Snapshots</a></li>
                {% if current_user.is_admin %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span class="glyphicon glyphicon-cog"
                                                   aria-hidden="true"></span> Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('get_users') }}"><span class="glyphicon glyphicon-user"
                                                                       aria-hidden="true"></span> Users</a></li>
                    </ul>
                </li>
                {% endif %}
                {% endif %}
            </ul>
            {% if current_user.is_authenticated %}
            <p class="navbar-text navbar-right"><a href="/logout" class="navbar-link"><span
                    class="glyphicon glyphicon-log-out"
                    aria-hidden="true"></span> Logout</a></p>
            {% else %}
            <p class="navbar-text navbar-right"><a href="/login" class="navbar-link"><span
                    class="glyphicon glyphicon-log-in"
                    aria-hidden="true"></span> Login</a></p>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
<div>
    <p>
        &nbsp;
    </p>
</div>
<nav class="navbar navbar-inverse navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-brand">{% block footer %}{% endblock %}</div>
    </div>
</nav>
</body>
</html>