{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="page-header"><h2>Certificates</h2></div>
<a class="btn btn-primary btn-sm" href="{{ url_for('new_certificate') }}">New</a>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Created</th>
    </tr>
    </thead>
    <tbody>
    {%- for certificate in certificates %}
    <tr>
        <td>{{ certificate.name }}</td>
        <td>{{ certificate.created_at|dt }}</td>
    </tr>
    {%- endfor %}
    </tbody>
</table>
{% endblock %}