{% extends "base.html" %}
{% block content %}
<div class="page-header"><h2>Toggles</h2></div>
<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Topic</th>
            <th>Key</th>
            <th>Value</th>
            <th>Style</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {%- for toggle in toggles %}
        <tr>
            <td>{{ toggle.title }}</td>
            <td>{{ toggle.topic }}</td>
            <td>{{ toggle.ref_key }}</td>
            <td>{{ toggle.ref_value }}</td>
            <td>{{ toggle.style }}</td>
            <td><a class="btn btn-default btn-xs" href="{{'/toggles/delete/'+ toggle.id|string}}" role="button">Delete</a></td>
        </tr>
        {%- endfor %}
        </tbody>
    </table>
</div>
<div class="row"><br></div>
<div class="row">
    <div class="btn-group" role="group" aria-label="Actions">
        <a class="btn btn-primary btn-lg" href="{{ url_for('new_toggle') }}">New</a>
    </div>
</div>

{% endblock %}