{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="page-header"><h2>New Thing</h2></div>

<form method="POST">
    {% include 'form-errors.html' %}
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label('Name') }} {{ form.name(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.endpoint.label('Endpoint') }} {{ form.endpoint(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.certificate.label('Certificate') }} {{ form.certificate(class_="form-control") }}
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
</form>
{% endblock %}