{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<h2>New Toggle</h2>

<form method="POST">
    {% include 'form-errors.html' %}
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.title.label('Title') }} {{ form.title(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.refkey.label('Reference Key') }} {{ form.refkey(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.on_str.label('On Text') }} {{ form.on_str(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.off_str.label('Off Text') }} {{ form.off_str(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.thing_id.label('Thing') }} {{ form.thing(class_="form-control") }}
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
</form>
{% endblock %}