{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="page-header"><h2>New Certificate</h2></div>

<form method="POST" enctype="multipart/form-data">
    {% include 'form-errors.html' %}
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label('Name') }} {{ form.name(class_="form-control",placeholder="Optional") }}
    </div>
    {% if filedata|length == 0 %}
    <div class="form-group">
        <label for="uploads-0">Client Certificate File</label>
        <input type="file" id="uploads-0" name="uploads-0">
    </div>
    <div class="form-group">
        <label for="uploads-1">Client Key File</label>
        <input type="file" id="uploads-1" name="uploads-1">
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
    {% else %}
    <ul>
        {%- for file in filedata %}
        <li>{{ file.data.filename }}</li>
        {%- endfor %}
    </ul>
    {% endif %}
</form>
{% endblock %}