{% extends "base.html" %}
{% block footer %}
{% endblock %}


{% block content %}
{% include 'flash.html' %}

<div class="row">
    <div class="btn-group btn-group-xsm" role="group" aria-label="metrics">
        {% for t in things %}
        {% if name == t %}
        <a class="btn btn-primary active" href="{{ url_for('get_shadow', thing=t) }}" role="button">
            {% else %}
            <a class="btn btn-default" href="{{ url_for('get_shadow', thing=t) }}" role="button">
                {% endif %}
                {{ t }}
            </a>
            {% endfor %}
    </div>
</div>
<br/>
<div class="row">
    <div class="panel panel-default">
        <!-- Table -->
        <table class="table">
            <tbody>
            {% if thing|length > 0 %}
                {% for key, value in thing['state']['reported'].iteritems()|sort %}
                <tr>
                    <td>
                        {{ key }}
                        {% if value is number %}
                        <a href="{{ url_for('graph_it',thing=name,metric=key) }}"><i class="glyphicon glyphicon-stats"></i></a>
                        {% endif %}
                    </td>
                    <td>
                        <div data-toggle="tooltip" title
                             data-original-title="{{ thing['metadata']['reported'][key]['timestamp']|ts }}"
                             data-placement="left">{{ value }}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% if thing|length > 0 %}
<div>Queried: {{ ts | ts }}</div>
<br/>
{% endif %}

{% endblock %}