{% extends "base.html" %}
{% block footer %}
Toggles <a class="btn btn-primary btn-xs" href="{{ url_for('new_toggle') }}"><i class="glyphicon glyphicon-plus"></i> New</a>
{% endblock %}

{% block content %}
{% include 'flash.html' %}

<p>
<form method="POST">
    <div class="row">
        <div class="btn-group-vertical" role="group" aria-label="Toggles">
            {%- for toggle in toggles %}
            <button type="submit" class="btn btn-default btn-lg" name="submit" style="text-align:left; padding-left:6px"
                    value="{{ toggle.id }}-{{ toggle.not_value }}">
                    <i class="glyphicon glyphicon-adjust"></i> {{ toggle.title }} {{ toggle.not_value }}
            </button>
            {%- endfor %}
        </div>
    </div>
</form>
</p>
{% endblock %}