{% extends "base.html" %}
{% block footer %}
{% include 'message.html' %}
{% endblock %}
{% block content %}
<p>
<form method="POST">
    <div class="row">
        <div class="btn-group-vertical" role="group" aria-label="Toggles">
            {%- for toggle in toggles %}
            <button type="submit" class="btn btn-default btn-lg" name="submit" style="text-align:left; padding-left:10px"
                    value="{{ toggle.id }}">
                    <i class="glyphicon glyphicon-{{ toggle.style }}"></i> {{ toggle.title }}
            </button>
            {%- endfor %}
        </div>
    </div>
</form>
</p>
{% endblock %}